@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.cdnfonts.com/css/jumpman');

:root {
  --red: #c40104;
  --yellow: #fec306;
}

body {
  background: radial-gradient(orange 5%, #fec306) fixed;
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

h1 {
  font-family: 'Jumpman', serif;
  color: var(--red);
  font-size: 2rem;
  margin: 0;
}

a {
  color: var(--yellow);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  main {
    margin: 1rem;
  }
}