.header {
  font-family: 'Jumpman', cursive;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.header-link {
  color: #c40104;
  font-size: 2rem;
  font-weight: 400;
  padding: 0rem 1rem;
  text-decoration: none;
}

.header-link[aria-current="page"] {
  background: #c40104;
  color: #fec306;
  border-radius: 0.5rem;
  width: fit-content;
}


@media screen and (max-width: 767px) {
  .header {
    justify-content: flex-end;
  }
} 