button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  color: #C40104;
  font-family: 'Jumpman';
  font-size: 1rem;
  transition: font-size 0.2s ease-in-out;
}

.active {
  font-size: 1.5rem;
  transition: font-size 0.2s ease-in-out;
}

// remove default select and option styles

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: #C40104;
  font-family: 'Jumpman';
  font-size: 1rem;
  padding-right: 1rem;
  margin: 0;
  height: 100%;
  cursor: pointer;
  background-image: url('../images/down-arrow.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  text-align: right;
  // remove blue outline
  outline: none;
}
