.change-view-container {
  display: flex;
  gap: 0.5rem;
  background-color: #ffffffcc;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #fffd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
}


.grid-button, .list-button {
  background-color: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.grid-button {
  background: url(../images/grid.png) no-repeat center;
  background-size: 1.5rem
}

.list-button {
  background: url(../images/list.png) no-repeat center;
  background-size: 1.5rem
}