:root {
  --red: #c40104;
  --yellow: #fec306;
}


.hamburger {
  cursor: pointer;
  z-index: 100;
  width: 100%;
}

.hamburger-icon, .close-icon {
  position: absolute;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  border: none;
}

.hamburger-icon {
  background: url('../images/hamburger.svg') no-repeat;
  background-size: contain;
}

.close-icon {
  background: url('../images/yellow-close.svg') no-repeat;
  background-size: contain;
}

.mobile-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--red);
  & a {
    font-size: 3rem;
    text-align: center;
    color: var(--yellow);
    text-decoration: none;
  }
  a[aria-current="page"] {
    background: var(--yellow);
    color: var(--red);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    margin: 0 auto;
    width: fit-content;
  }
}