.header {
  font-family: 'Abril Fatface', cursive;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  & a {
    color: yellow;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
  }
  & a[aria-current="page"] {
    text-decoration: underline;
  }
}


@media screen and (max-width: 1224px) {
  .header {
    justify-content: flex-end;
  }
} 