.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-main {
  margin: 2.5rem 10rem;
}
@media (max-width: 1000px) {
  .products-main {
    margin: 2.5rem 1rem;
  }
}