.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellow;
  margin-bottom: 0.5rem;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}