@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.cdnfonts.com/css/jumpman');

body {
  background: radial-gradient(orange 5%, #fec306) fixed;
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

h1 {
  font-family: 'Jumpman', serif;
  color: #c40104;
  font-size: 2rem;
  margin: 0;
}

main {
  margin: 5rem;
}

a {
  color: #333;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  main {
    margin: 2rem;
  }
}